<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Afterglow</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.08235294371843338</real>
				<key>Green Component</key>
				<real>0.08235294371843338</real>
				<key>Red Component</key>
				<real>0.08235294371843338</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2588235438</real>
				<key>Green Component</key>
				<real>0.25490197539999998</real>
				<key>Red Component</key>
				<real>0.67450982329999998</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31444666754949363</real>
				<key>Green Component</key>
				<real>0.55576569570135748</real>
				<key>Red Component</key>
				<real>0.49473804391474724</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4039215686</real>
				<key>Green Component</key>
				<real>0.70980392160000005</real>
				<key>Red Component</key>
				<real>0.8980392157</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333333333333328</real>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.42352941176470588</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5234466981</real>
				<key>Green Component</key>
				<real>0.30697798580000002</real>
				<key>Red Component</key>
				<real>0.62333851809999996</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8118151991</real>
				<key>Green Component</key>
				<real>0.83853216239999995</real>
				<key>Red Component</key>
				<real>0.49031879989999999</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96078431606292725</real>
				<key>Green Component</key>
				<real>0.96078431606292725</real>
				<key>Red Component</key>
				<real>0.96078431606292725</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3144466675</real>
				<key>Green Component</key>
				<real>0.55576569570000001</real>
				<key>Red Component</key>
				<real>0.49473804389999998</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.40392156862745099</real>
				<key>Green Component</key>
				<real>0.70980392156862748</real>
				<key>Red Component</key>
				<real>0.89803921568627454</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333333329999995</real>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.42352941179999998</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52344669809931299</real>
				<key>Green Component</key>
				<real>0.30697798579568808</real>
				<key>Red Component</key>
				<real>0.62333851809954743</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8118151991</real>
				<key>Green Component</key>
				<real>0.83853216239999995</real>
				<key>Red Component</key>
				<real>0.49031879989999999</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.31372550129890442</real>
				<key>Red Component</key>
				<real>0.31372550129890442</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2588235438</real>
				<key>Green Component</key>
				<real>0.25490197539999998</real>
				<key>Red Component</key>
				<real>0.67450982329999998</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1283406391402715</real>
				<key>Green Component</key>
				<real>0.1283406391402715</real>
				<key>Red Component</key>
				<real>0.1283406391402715</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.08235294371843338</real>
				<key>Green Component</key>
				<real>0.08235294371843338</real>
				<key>Red Component</key>
				<real>0.08235294371843338</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.18823529779911041</real>
				<key>Green Component</key>
				<real>0.18823529779911041</real>
				<key>Red Component</key>
				<real>0.18823529779911041</real>
			</dict>
		</dict>
		<key>Belafonte Day</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.10588235294117647</real>
				<key>Green Component</key>
				<real>0.066666666666666666</real>
				<key>Red Component</key>
				<real>0.12549019607843137</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.054901960784313725</real>
				<key>Green Component</key>
				<real>0.062745098039215685</real>
				<key>Red Component</key>
				<real>0.74509803921568629</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3843137254901961</real>
				<key>Green Component</key>
				<real>0.50588235294117645</real>
				<key>Red Component</key>
				<real>0.52156862745098043</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.28627450980392155</real>
				<key>Green Component</key>
				<real>0.6470588235294118</real>
				<key>Red Component</key>
				<real>0.91764705882352937</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.47450980392156861</real>
				<key>Green Component</key>
				<real>0.41568627450980394</real>
				<key>Red Component</key>
				<real>0.25882352941176473</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.17254901960784313</real>
				<key>Green Component</key>
				<real>0.32156862745098042</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.61176470588235299</real>
				<key>Green Component</key>
				<real>0.60392156862745094</real>
				<key>Red Component</key>
				<real>0.59607843137254901</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72941176470588232</real>
				<key>Green Component</key>
				<real>0.80000000000000004</real>
				<key>Red Component</key>
				<real>0.83529411764705885</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3843137254901961</real>
				<key>Green Component</key>
				<real>0.50588235294117645</real>
				<key>Red Component</key>
				<real>0.52156862745098043</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.28627450980392155</real>
				<key>Green Component</key>
				<real>0.6470588235294118</real>
				<key>Red Component</key>
				<real>0.91764705882352937</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.47450980392156861</real>
				<key>Green Component</key>
				<real>0.41568627450980394</real>
				<key>Red Component</key>
				<real>0.25882352941176473</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.17254901960784313</real>
				<key>Green Component</key>
				<real>0.32156862745098042</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.61176470588235299</real>
				<key>Green Component</key>
				<real>0.60392156862745094</real>
				<key>Red Component</key>
				<real>0.59607843137254901</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51372549019607838</real>
				<key>Green Component</key>
				<real>0.5490196078431373</real>
				<key>Red Component</key>
				<real>0.58823529411764708</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32156862745098042</real>
				<key>Green Component</key>
				<real>0.32156862745098042</real>
				<key>Red Component</key>
				<real>0.36862745098039218</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.054901960784313725</real>
				<key>Green Component</key>
				<real>0.062745098039215685</real>
				<key>Red Component</key>
				<real>0.74509803921568629</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72941176470588232</real>
				<key>Green Component</key>
				<real>0.80000000000000004</real>
				<key>Red Component</key>
				<real>0.83529411764705885</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.23529411764705882</real>
				<key>Green Component</key>
				<real>0.21568627450980393</real>
				<key>Red Component</key>
				<real>0.27058823529411763</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.23529411764705882</real>
				<key>Green Component</key>
				<real>0.21568627450980393</real>
				<key>Red Component</key>
				<real>0.27058823529411763</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72941176470588232</real>
				<key>Green Component</key>
				<real>0.80000000000000004</real>
				<key>Red Component</key>
				<real>0.83529411764705885</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.23529411764705882</real>
				<key>Green Component</key>
				<real>0.21568627450980393</real>
				<key>Red Component</key>
				<real>0.27058823529411763</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.23529411764705882</real>
				<key>Green Component</key>
				<real>0.21568627450980393</real>
				<key>Red Component</key>
				<real>0.27058823529411763</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51372549019607838</real>
				<key>Green Component</key>
				<real>0.5490196078431373</real>
				<key>Red Component</key>
				<real>0.58823529411764708</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>B84E35CA-CAD4-4A72-8DA7-A4AA701C6C21</string>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>Hotkey</key>
	<true/>
	<key>HotkeyChar</key>
	<integer>32</integer>
	<key>HotkeyCode</key>
	<integer>49</integer>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>HotkeyModifiers</key>
	<integer>524288</integer>
	<key>IRMemory</key>
	<integer>4</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Guid</key>
			<string>B773F0AC-912E-43DE-8989-AD0D1049D832</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Monaco 12</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.70980000495910645</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/masaki</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.08235294371843338</real>
				<key>Green Component</key>
				<real>0.08235294371843338</real>
				<key>Red Component</key>
				<real>0.08235294371843338</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2588235438</real>
				<key>Green Component</key>
				<real>0.25490197539999998</real>
				<key>Red Component</key>
				<real>0.67450982329999998</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31444666754949363</real>
				<key>Green Component</key>
				<real>0.55576569570135748</real>
				<key>Red Component</key>
				<real>0.49473804391474724</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4039215686</real>
				<key>Green Component</key>
				<real>0.70980392160000005</real>
				<key>Red Component</key>
				<real>0.8980392157</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333333333333328</real>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.42352941176470588</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5234466981</real>
				<key>Green Component</key>
				<real>0.30697798580000002</real>
				<key>Red Component</key>
				<real>0.62333851809999996</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8118151991</real>
				<key>Green Component</key>
				<real>0.83853216239999995</real>
				<key>Red Component</key>
				<real>0.49031879989999999</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96078431606292725</real>
				<key>Green Component</key>
				<real>0.96078431606292725</real>
				<key>Red Component</key>
				<real>0.96078431606292725</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3144466675</real>
				<key>Green Component</key>
				<real>0.55576569570000001</real>
				<key>Red Component</key>
				<real>0.49473804389999998</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.40392156862745099</real>
				<key>Green Component</key>
				<real>0.70980392156862748</real>
				<key>Red Component</key>
				<real>0.89803921568627454</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333333329999995</real>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.42352941179999998</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52344669809931299</real>
				<key>Green Component</key>
				<real>0.30697798579568808</real>
				<key>Red Component</key>
				<real>0.62333851809954743</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8118151991</real>
				<key>Green Component</key>
				<real>0.83853216239999995</real>
				<key>Red Component</key>
				<real>0.49031879989999999</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.31372550129890442</real>
				<key>Red Component</key>
				<real>0.31372550129890442</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2588235438</real>
				<key>Green Component</key>
				<real>0.25490197539999998</real>
				<key>Red Component</key>
				<real>0.67450982329999998</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1283406391402715</real>
				<key>Green Component</key>
				<real>0.1283406391402715</real>
				<key>Red Component</key>
				<real>0.1283406391402715</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Bound Hosts</key>
			<array/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.08235294371843338</real>
				<key>Green Component</key>
				<real>0.08235294371843338</real>
				<key>Red Component</key>
				<real>0.08235294371843338</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Guid</key>
			<string>B84E35CA-CAD4-4A72-8DA7-A4AA701C6C21</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.711883544921875</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.041777101345360279</real>
				<key>Red Component</key>
				<real>0.041777101345360279</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.32009765625000008</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>mypreference</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Monaco 14</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-2</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.23751045577228069</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.33689890944543777</real>
				<key>Red Component</key>
				<real>0.34820556640625</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Space</key>
			<integer>-1</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.099999999999999992</real>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Underline Color</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>1</integer>
			<key>Working Directory</key>
			<string>/Users/masaki</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.08235294371843338</real>
				<key>Green Component</key>
				<real>0.08235294371843338</real>
				<key>Red Component</key>
				<real>0.08235294371843338</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2588235438</real>
				<key>Green Component</key>
				<real>0.25490197539999998</real>
				<key>Red Component</key>
				<real>0.67450982329999998</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31444666754949363</real>
				<key>Green Component</key>
				<real>0.55576569570135748</real>
				<key>Red Component</key>
				<real>0.49473804391474724</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4039215686</real>
				<key>Green Component</key>
				<real>0.70980392160000005</real>
				<key>Red Component</key>
				<real>0.8980392157</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333333333333328</real>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.42352941176470588</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5234466981</real>
				<key>Green Component</key>
				<real>0.30697798580000002</real>
				<key>Red Component</key>
				<real>0.62333851809999996</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8118151991</real>
				<key>Green Component</key>
				<real>0.83853216239999995</real>
				<key>Red Component</key>
				<real>0.49031879989999999</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96078431606292725</real>
				<key>Green Component</key>
				<real>0.96078431606292725</real>
				<key>Red Component</key>
				<real>0.96078431606292725</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3144466675</real>
				<key>Green Component</key>
				<real>0.55576569570000001</real>
				<key>Red Component</key>
				<real>0.49473804389999998</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.40392156862745099</real>
				<key>Green Component</key>
				<real>0.70980392156862748</real>
				<key>Red Component</key>
				<real>0.89803921568627454</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333333329999995</real>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.42352941179999998</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52344669809931299</real>
				<key>Green Component</key>
				<real>0.30697798579568808</real>
				<key>Red Component</key>
				<real>0.62333851809954743</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8118151991</real>
				<key>Green Component</key>
				<real>0.83853216239999995</real>
				<key>Red Component</key>
				<real>0.49031879989999999</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.31372550129890442</real>
				<key>Red Component</key>
				<real>0.31372550129890442</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2588235438</real>
				<key>Green Component</key>
				<real>0.25490197539999998</real>
				<key>Red Component</key>
				<real>0.67450982329999998</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1283406391402715</real>
				<key>Green Component</key>
				<real>0.1283406391402715</real>
				<key>Red Component</key>
				<real>0.1283406391402715</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Bound Hosts</key>
			<array/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.08235294371843338</real>
				<key>Green Component</key>
				<real>0.08235294371843338</real>
				<key>Red Component</key>
				<real>0.08235294371843338</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Guid</key>
			<string>2397B8CA-95B4-42E5-8438-F3A55F3EEE37</string>
			<key>Has Hotkey</key>
			<false/>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.711883544921875</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.041777101345360279</real>
				<key>Red Component</key>
				<real>0.041777101345360279</real>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.32009765625000008</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Copy of mypreference</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Monaco 14</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-2</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568628549575806</real>
				<key>Green Component</key>
				<real>0.81568628549575806</real>
				<key>Red Component</key>
				<real>0.81568628549575806</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.23751045577228069</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.33689890944543777</real>
				<key>Red Component</key>
				<real>0.34820556640625</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Space</key>
			<integer>-1</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Underline Color</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>1</integer>
			<key>Working Directory</key>
			<string>/Users/masaki</string>
		</dict>
	</array>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>SoundForEsc</key>
	<false/>
	<key>UseLionStyleFullscreen</key>
	<false/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
